.login_section,
.registeration_section,
.signInOptions_section,
.registeration_parent,
.step_one_section,
.weather_section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 10% 0 0 30%;
  width: 600px;
  background-color: #dcdcdc;
  border-radius: 8px;
  box-shadow: rgba(255, 255, 255, 0.1) 0px 1px 1px 0px inset,
    rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}

.login_section,
.signInOptions_section {
  height: 500px;
}
.registeration_parent {
  height: 700px;
  margin-top: 5%;
}
.registeration_section {
  height: 100%;
}
.login_logo {
  width: 100%;
  height: 100px;
  margin-top: 20px;
}
.login_logo img {
  object-fit: contain;
  width: 100%;
  height: 100%;
}

.login_error {
  padding: 10px;
  border: 1px solid rgb(210, 4, 45, 0.8);
  background-color: rgb(210, 4, 45, 0.1);
  width: 80%;
  margin-top: 10px;
  border-radius: 8px;
}

.login_form,
.registration_form {
  width: 80%;
  height: 100%;

  display: flex;
  justify-content: space-between;
  flex-direction: column;

  padding-top: 20px;
}

.login_form .form_inputs,
.registration_form .form_inputs,
.form_btn {
  padding: 10px;
  border-radius: 8px;
  outline: none;
  border: none;
}
.form_btn {
  margin: 20px 0;
  transition: 0.3s;
  background-color: #004600;
  color: #dcdcdc;
  font-size: medium;
  /* letter-spacing: 1px; */
}
.form_btn:hover {
  transform: scale(1.02);
  cursor: pointer;
}
.login_footer {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  width: 80%;
  height: 100px;
  color: black;
}
.login_footer a {
  color: black;
}

/* STEP THREE */
.form_row {
  display: flex;
}
.display_labels {
  width: 50%;
}
